---
layout: default
---
<div class="jumbotron">
  <h1>{{ site.name }}</h1>
</div>

<div>
	  {% for post in paginator.posts %}
	    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	    <p>{{ post.excerpt }}</p>
	    <hr/>
	  {% endfor %}
  </div>



<div>
 <nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" class="navbar-inverse pull-left" style="text-decoration:none"  title="Previous Page"><h3>&laquo; Previous</h3></a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" class="navbar-inverse pull-left" style="text-decoration:none"  title="Previous Page"><h3>&laquo; Previous</h3></a>
      {% endif %}
    {% endif %}

    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/" class="navbar-inverse pull-right" style="text-decoration:none" title="Next Page"><h3>Next &raquo;</h3></a>
    {% endif %}
  </nav>
</div>