<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Segment.io -->
<script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
  analytics.load("GZq7RH3TqOaVcVM");
  analytics.page()
  }}();
</script>
    
    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Droid+Sans' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">

    </head>
    <body style="padding-top: 40px;">

      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#am-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Angry Marketing</a>
      </div>

        <div class="collapse navbar-collapse" id="am-navbar-collapse">

        <div class="nav navbar-nav navbar-right" >
        <div class="btn-group">
              <button type="button" class="btn btn-default navbar-btn"><a onclick="analytics.track('Engaged', {Channel: 'Twitter'});" href="http://twitter.com/marcholmes"><i class="fa fa-twitter fa-2x"></i></a></button>
              <button type="button" class="btn btn-default navbar-btn"><a onclick="analytics.track('Engaged', {Channel: 'LinkedIn'});"  href="http://linkedin.com/in/marcholmes"><i class="fa fa-linkedin fa-2x"></i></a></button>
              <button type="button" class="btn btn-default navbar-btn"><a onclick="analytics.track('Engaged', {Channel: 'About'});" href="/about.html"><i class="fa fa-envelope fa-2x"></i></a></button>
              <button type="button" class="btn btn-default navbar-btn"><a onclick="analytics.track('Engaged', {Channel: 'RSS'});"  href="feed.xml"><i class="fa fa-rss fa-2x"></i></a></button>
        </div>
      </div>
      </nav>

      <div class="container">
        <div class="page-header">
          {{ content }}
        </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527fcf9777442e1d"></script>
    <script type="text/javascript">
      addthis.layers({
        'theme' : 'transparent',
        'share' : {
          'position' : 'right',
          'numPreferredServices' : 6
        }   
      });
    </script>
    <!-- AddThis Smart Layers END -->

    </body>
</html>
